extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9.bio

        h1 About Me

        .portfolio-bio
          p
            | Hello! My name is Kim Drezdon and I am a Full Stack JavaScript Developer residing in San Marcos, Texas. I am self-motivated and enthusiastic about programming, with a desire to learn and work as part of a team. I offer strong analytical and problem solving skills, with a professional background in the deadline-driven field of accounting. I am open to opportunities in Austin, San Antonio, or remote.
            br
            br
            | I am a graduate of the Full Stack JavaScript Techdegree program at Treehouse. I am currently enrolled in the Full-Stack Engineer Career Path on Codecademy, and am also actively taking courses on Udemy. My hobbies include reading, roller skating and hiking with my dog. Check out the links to my profiles and certifications!

        h6 Certifications

        .certifications
          each certification in certifications
            a.button.expanded(href=`${certification.link}` target='_blank')= `${certification.name}`

      .cell.portfolio-meta.small-6.medium-2.large-3.bio
        h6 Skills

        ul
          each technology in technologies
            li
                img.logo(src=`${technology.image_url}`)
                span=`     ${technology.name}`


        h6 Contact Info

        ul
          li kim.drezdon@gmail.com

        each profile in profiles
          a.button.expanded(href=`${profile.link}` target='_blank')!= `<i class="${profile.icon}"></i> ${profile.name}`



  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
